.projectsContainer {
  .titleContainer {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #8d82c4;
    opacity: 0.8;
  }

  .contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50vh 50vh 50vh;
    background-color: gainsboro;

    .itemContainer {
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;

      .itemDetailContainer {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;

        .iconContainer {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-end;

          a:link {
            text-decoration: none;
          }

          .icon {
            width: 12rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            border: 3px solid #242943c7;
            box-shadow: 0px 0px 0px 1px #242943c7 inset;
            overflow: hidden;
            position: relative;
            transition: all 0.2s ease-out;
            z-index: 1;
            cursor: pointer;

            .demoIcon,
            .githubIcon {
              width: 2rem;
              height: 1.5rem;
              margin-left: 0.2rem;
            }

            span {
              font-size: 1.5rem;
              font-weight: 800;
              -webkit-text-stroke: 0.8px #333;
            }
          }

          .demo {
            margin: 0 2rem 5rem 0;
          }

          .github {
            margin-bottom: 5rem;
          }

          .icon:hover {
            border: 3px solid #242943c7;
            background-color: #fff;
            box-shadow: 0px 0px 0px 3px #eee inset;
          }

          .icon:hover span {
            letter-spacing: 0.13rem;
            -webkit-text-stroke: 0px;
            color: #333;
          }

          .icon:active {
            top: 0.1rem;
          }

          /* Reflections */
          .icon:after {
            background: #fff;
            border: 0px solid #242943c7;
            content: '';
            height: 155px;
            left: -75px;
            opacity: 0.8;
            position: absolute;
            top: -50px;
            -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
            width: 50px;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
            z-index: 2;
          }

          .icon:hover:after {
            background: #fff;
            border: 20px solid #242943c7;
            opacity: 0;
            left: 120%;
            -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
          }
        }

        .descriptionContainer {
          margin: 8rem 2rem 0 2rem;
          color: white;

          .projectTitle {
            margin-bottom: 1rem;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.65;
          }

          .separator {
            width: 18rem;
            height: 0.15rem;
            margin-bottom: 1rem;
            background-color: white;
          }

          .projectDescription {
            font-size: 1.1rem;
          }
        }
      }

      .bannerColor {
        height: 100%;
        width: 100%;
        opacity: 0.9;
        transition: opacity 0.5s ease-out;
        z-index: 3;
      }
    }
  }

  .contentContainer div:nth-child(2),
  div:nth-child(3),
  div:nth-child(6) {
    grid-column: span 3;
  }

  .contentContainer div:nth-child(1),
  div:nth-child(4),
  div:nth-child(5) {
    grid-column: span 2;
  }
}

@media only screen and (max-width: 1250px) {
  /* For smaller screen laptop: */
  .projectsContainer {
    .contentContainer {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 40vh 40vh 40vh;

      .itemContainer {
        .itemDetailContainer {
          .descriptionContainer {
            margin-top: 6rem;

            .projectTitle {
              font-size: 1.3rem;
            }

            .projectDescription {
              font-size: 1rem;
            }
          }
        }
      }
    }
    .contentContainer div:nth-child(2),
    div:nth-child(3),
    div:nth-child(6) {
      grid-column: span 2;
    }

    .contentContainer div:nth-child(1),
    div:nth-child(4),
    div:nth-child(5) {
      grid-column: span 2;
    }
  }
}

@media only screen and (max-width: 950px) {
  /* For tablets: */
  .projectsContainer {
    .contentContainer {
      grid-template-rows: 35vh 35vh 35vh;

      .itemContainer {
        .itemDetailContainer {
          .descriptionContainer {
            margin-top: 4rem;
          }

          .iconContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            .icon {
              width: 15rem;
            }

            .demo {
              margin: 0;
              margin-bottom: 1rem;
            }

            .github {
              margin-left: 0;
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 650px), (max-height: 450px) {
  /* For mobiles */
  .projectsContainer {
    .contentContainer {
      grid-template-columns: 1fr;
      grid-template-rows: 15rem 15rem 15rem 15rem 15rem 15rem;

      .itemContainer {
        .itemDetailContainer {
          .descriptionContainer {
            margin-top: 1.5rem;

            .projectTitle {
              font-size: 1.2rem;
            }

            .projectDescription {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
    .contentContainer div:nth-child(2),
    div:nth-child(3),
    div:nth-child(6) {
      grid-column: span 1;
    }

    .contentContainer div:nth-child(1),
    div:nth-child(4),
    div:nth-child(5) {
      grid-column: span 1;
    }
  }
}
