.projectsContainer {
  .titleContainer {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #8d82c4;
    opacity: 0.8;
  }

  .contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50vh 50vh 50vh;

    .itemContainer {
      display: flex;
      align-items: center;
      background-image: url('../../assets/projects/Angularstore.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      .itemDetailContainer {
        margin-left: 2rem;
        position: absolute;
        z-index: 1;

        .projectTitle {
          margin-bottom: 1rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.65;
        }

        .separator {
          width: 18rem;
          height: 0.15rem;
          margin-bottom: 1rem;
          background-color: black;
        }
      }

      .bannerColor {
        height: 100%;
        width: 100%;
        opacity: 0.8;
        transition: opacity 0.5s ease-out;
      }
    }
  }

  .contentContainer div:nth-child(2),
  div:nth-child(3),
  div:nth-child(6) {
    grid-column: span 3;

    .itemDetailContainer {
      width: 50%;
    }
  }

  .contentContainer div:nth-child(1),
  div:nth-child(4),
  div:nth-child(5) {
    grid-column: span 2;

    .itemDetailContainer {
      width: 30%;
    }
  }
}
