.projectsContainer {
  .titleContainer {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #8d82c4;
    opacity: 0.8;
  }

  .contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50vh 50vh 50vh;

    .bannerColor {
      opacity: 0.8;
    }
  }

  .contentContainer div:nth-child(2) {
    grid-column: span 2;
  }

  .contentContainer div:nth-child(3) {
    grid-column: span 2;
  }

  .contentContainer div:nth-child(6) {
    grid-column: span 2;
  }
}
