.fade-in {
  animation: fadeIn ease-in 0.5s;
  -webkit-animation: fadeIn ease-in 0.5s;
  -moz-animation: fadeIn ease-in 0.5s;
  -o-animation: fadeIn ease-in 0.5s;
  -ms-animation: fadeIn ease-in 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.landingContainer {
  height: 80vh;
  height: calc(var(--vh, 1vh) * 80);
  display: grid;
  grid-template-rows: 10vh 70vh;
  background-image: url('../../assets/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .landingContainer-cover {
    height: 80vh;
    width: 100%;
    position: absolute;
    background-color: #242943;
    opacity: 0.8;
  }

  .contentContainer {
    padding: 0 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    z-index: 1;

    .title {
      height: 10vh;
      height: calc(var(--vh, 1vh) * 10);
      margin-bottom: 1.5rem;
      font-size: 3.5rem;
      font-weight: 600;
      letter-spacing: 0.45px;
    }

    .separator {
      width: 100%;
      height: 2px;
      margin-bottom: 2.5rem;
      background-color: white;
    }

    .content {
      width: 40vw;
      font-size: 0.8rem;
      font-weight: 600;
      letter-spacing: 0.25rem;
      text-transform: uppercase;
    }
  }
}

@media only screen and (max-width: 1050px) {
  /* For smaller screen laptop: */
  .landingContainer {
    .contentContainer {
      padding: 0 8rem;

      .title {
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      .content {
        width: 100%;
        font-size: 0.6rem;
      }
    }
  }
}

@media only screen and (max-width: 840px) {
  /* For tablets: */
  .landingContainer {
    .contentContainer {
      .title {
        height: 20vh;
        height: calc(var(--vh, 1vh) * 20);
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 650px), (max-height: 450px) {
  /* For mobiles */
  .landingContainer {
    .contentContainer {
      width: 100vw;
      padding: 0 1.5rem;
      box-sizing: border-box;

      .title {
        height: 5vh;
        height: calc(var(--vh, 1vh) * 5);
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }

      .content {
        width: 100%;
        font-size: 0.6rem;
      }
    }
  }
}
