.aboutContainer {
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-color: #2e3450;
  color: white;

  .title {
    height: 3.5rem;
    width: 10rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.65;
    letter-spacing: 0.025em;
    border-bottom: 0.15rem solid white;
  }

  .content {
    font-size: 1.2rem;
  }

  .resume {
    margin: 0.5rem;
    padding: 0.2rem 0.7rem;
    background-color: white;
    border-radius: 0.2rem;
    cursor: pointer;

    a {
      font-size: 1.2rem;
      font-weight: 600;
      color: #2e3450;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  .resume:hover {
    background-color: #9bf1ff;

    a {
      color: black;
    }
  }
}

@media only screen and (max-width: 950px) {
  /* For tablets: */
  .aboutContainer {
    padding: 4rem 6rem;

    .title {
      margin-bottom: 0.5rem;
    }
  }
}

@media only screen and (max-width: 650px), (max-height: 450px) {
  /* For mobiles */
  .aboutContainer {
    padding: 2rem;

    .title {
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
    }

    .content {
      font-size: 0.8rem;
    }
  }
}
