.headerContainer {
  height: 10vh;
  padding: 0 1.8rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  font-weight: 600;
  line-height: 1.65em;
  letter-spacing: 0.2rem;
  z-index: 1;

  .logoContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .name {
      padding: 0 0.4rem 0 0.5rem;
      margin-right: 0.9rem;
      height: 35%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      color: #242943;
    }

    .profession {
      color: white;
    }
  }
}
