.headerContainer {
  height: 10vh;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  .logoContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .name {
      padding: 0 0.4rem 0 0.5rem;
      margin-right: 0.9rem;
      height: 35%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      color: #242943;
      font-size: 0.95rem;
      font-weight: 600;
      line-height: 1.65em;
      letter-spacing: 0.2rem;
    }

    .profession {
      color: white;
      font-size: 0.95rem;
      font-weight: 600;
      line-height: 1.65em;
      letter-spacing: 0.2rem;
    }
  }

  .navbar {
    width: 40vw;
    background-color: green;
  }
}
