.headerContainer {
  height: 7vh;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  .logo {
    width: 10vw;
    background-color: green;
  }

  .navbar {
    width: 40vw;
    background-color: green;
  }
}
