.navbarContainer {
  width: 45%;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 0.35em;
  box-shadow: inset 0px 0px 0.15rem 0.15rem white;

  .navbarItem {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: opacity 0.3s ease-out;

    a {
      cursor: pointer;
    }

    a:link,
    a:visited {
      text-decoration: none;
      color: white;
    }
  }

  .navbarItem:hover {
    a {
      color: #9bf1ff;
    }
  }
}
