.footerContainer {
  display: flex;
  flex-direction: column;
  background-color: #242943;

  .contactContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    border-bottom: 0.05rem solid #2e3450;

    a:link,
    a:visited {
      text-decoration: none;
      color: white;
    }

    a:hover {
      color: #9bf1ff;
    }

    .emailContainer,
    .githubContainer,
    .phoneContainer {
      display: flex;
      padding: 3rem 2rem;
      grid-column: span 1;
      border: 0.05rem solid #2e3450;

      .iconContainer {
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 50%;

        .icon {
          height: 1.5rem;
          width: 1.5rem;
        }

        .icon path {
          fill: #242943;
        }
      }

      .content {
        margin-left: 1.2rem;

        .title {
          font-size: 1.3rem;
          font-weight: 600;
          line-height: 1.65;
          letter-spacing: 0.025em;
        }
      }

      .content > * {
        height: 50%;
        display: flex;
        align-items: center;
      }

      .content *:nth-child(2) {
        font-size: 1rem;
        line-height: 1.65;
        letter-spacing: 0.025em;
      }
    }
  }

  .footerContent {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.65;
    letter-spacing: 0.025em;
  }
}

@media only screen and (max-width: 950px) {
  /* For tablets: */
  .footerContainer {
    .contactContainer {
      grid-template-columns: 1fr 1fr;

      .emailContainer,
      .githubContainer,
      .phoneContainer {
        padding: 2rem;
        justify-content: center;
        align-items: center;
      }

      .phoneContainer {
        grid-column: span 2;
      }
    }
  }
}

@media only screen and (max-width: 650px), (max-height: 450px) {
  /* For mobiles */
  .footerContainer {
    .contactContainer {
      grid-template-columns: 1fr;

      .emailContainer,
      .githubContainer,
      .phoneContainer {
        padding: 2rem;
        justify-content: initial;
        align-items: center;
      }

      .phoneContainer {
        grid-column: span 1;
      }
    }
  }
}
